body{
    background-color:rgb(121, 76, 92);
    margin: 0ch;
 }
 .Lorem_ipsum{
    background-color: aqua;
    float: right;
    width: 20%;
    text-align: center;
 }
 .centro{
    float: left;
    width: 80%;
    background-color: rgb(209, 15, 15);
 }
 div img{
    width: 100%;
    height: 100%;
 
 }