body{
    background-color: aquamarine;
}
.b_principal{
    background-color: rgb(35, 108, 108);
    flex-wrap: wrap;

    
}
nav{
    padding: 20px;
    
    flex-direction: row;
    background-color: rgb(197, 196, 196);
}
nav a{
    background-color: antiquewhite;
    padding: 14px;
    margin: 15px;
}
id_bloque1{
    background-color: rgb(158, 100, 211);
    display: flex;
    padding: 10px;
    margin: 20px;
}    
bloque1_2{
    margin: 20px;
}
id_bloque1_3{
    background-color: rgb(244, 112, 112);

}


    
 

.b_tercero{
    background-color: orange;
    width: 700px;
    

}
.b_cuarto{
    background-color: rgb(185, 59, 147);
    width: 700px;
    height: 100px;
    text-align: center;
    justify-content: center;
    
}
